@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
    box-sizing: border-box;
}

input {
    all: unset;
    box-sizing: border-box;
    appearance: none;
}

body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: white;
}

button {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    width: 100%;
}

.tweet-input::placeholder {
    color: white;
    opacity: 0.9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
}

.form-input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
    margin-top: 20px;
}

.form-btn {
    cursor: pointer;
    width: 100%;
    padding: 7px 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #54A7DB;
}

.cancel-btn {
    cursor: pointer;
    background-color: tomato;
}

/* Profile Page */

.profile-form {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.log-out {
    margin-top: 50px;
}

.profile-update-input {
    margin-top: 10px
}

/* Nwitter Factory */

.factory-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.factory-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.factory-input-input {
    flex-grow: 1;
    height: 40px;
    padding: 0px 20px;
    color: white;
    border: 1px solid #54A7DB;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
}

.factory-input-arrow {
    position: absolute;
    right: 0;
    background-color: #54A7DB;
    height: 40px;
    width: 40px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.factory-input-label {
    color: #54A7DB;
    cursor: pointer;
}

.factory-input-label span {
    margin-right: 10px;
    font-size: 12px;
}

.factory-form-attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.factory-form-attachment img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.factory-form-clear {
    color: #54A7DB;
    cursor: pointer;
    text-align: center;
}

.factory-form-clear span {
    margin-right: 10px;
    font-size: 12px;
}

.factory-input-attach {
    opacity: 0;
}

/* Tweet */
.tweet-edit .form-btn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}

.tweet {
    margin: auto auto 10px auto;
    background-color: white;
    width: 100%;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
}

.tweet h4 {
    font-size: 14px;
}

.tweet img {
    right: -10px;
    top: 20px;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.tweet-actions {
    position: absolute;
    right: 10px;
    top: 10px;
}

.tweet-actions span {
    cursor: pointer;
}

.tweet-actions span:first-child {
    margin-right: 10px;
}

.tweet-btn {
    background: black;
    min-width: 40px;
    min-height: 40px;
    border: none;
}

.tweet p {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
    color: darkgray;
}

/* Auth */

.auth-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 70%;
    margin: auto;
}

.auth-account-container h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
}

.auth-account-container h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.auth-btns {
    display: flex;
    flex-direction: column;
}

.auth-btn {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    width: 150px;
    min-width: 320px;
    background: white;
    margin-bottom: 10px;
}

.auth-divider {
    width: 150px;
    min-width: 320px;
}

.auth-divider p {
    text-align: center;
    color: #d3d3d3c7;
    font-size: 12px;
    margin-top: 5px;
}

.auth-create-account-btn-container {
    margin-top: 20px;
    width: 150px;
    min-width: 320px;
}

.auth-create-account-btn {
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 0;
    text-align: center;
    width: 150px;
    min-width: 320px;
    background: #54A7DB;
    margin-bottom: 10px;
    font-size: 14px;
    text-shadow: 0 0 lightgray;
}

.auth-create-account-btn-container p {
    font-size: 12px;
}

.auth-create-account-btn-container a {
    font-size: 12px;
    color: #54A7DB;
    font-weight: bold;
}

.auth-login-container {
    width: 150px;
    min-width: 320px;
    margin-top: 70px;
}

.auth-login-container h3 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}

.auth-login-btn {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 0;
    text-align: center;
    width: 150px;
    min-width: 320px;
    background-color: white;
    color: #54A7DB;
    font-size: 14px;
    text-shadow: 0 0 lightgray;
}

.auth-account-form-container {
    padding: 5%;
}

.auth-account-form-container h1{
    color: black;
    font-size: 31px;
    font-weight: 700;
}

/* AuthForm */
.auth-input {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
    border: 1px solid #D1D9DD;
}

.auth-submit-btn {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    background: #54A7DB;
    color: white;
    margin-top: 45px;
    cursor: pointer;
    border:none;
}

.auth-error {
    color: tomato;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

.auth-switch {
    color: #54A7DB;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}

.auth-birth {
    margin: 40px 0;
}

.auth-birth b {
    color: black;
    font-weight: 600;
    line-height: 35px;
}

.auth-birth p {
    color: darkgray;
    font-size: 12px;
}

.auth-birth-select {
    margin-top: 10px;
}
.auth-birth-select select:not(:last-child) {
    margin-right: 5px;
}
.auth-birth-select select {
    width: 32%;
    height: 45px;
    border: 1px solid #D1D9DD;
    border-radius: 8px;
    color: darkgray;
}

/* Navigation */
.navi-ul {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.navi-logo {
    margin-right: 10px;
}

.navi-profile {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.navi-profile span {
    margin-top: 10px;
}

/* Router */
.route-wrapper {
    max-width: 890px;
    width: 100%;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: center;
}

/* Home */
.home-tweet {
    margin-top: 30px;
}

/* Modal */
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-contents {
    width: 35%;
    height: 60%;
    background: white;
    border-radius: 8px;
    position: relative;
    padding: 2%;
}

.modal-close-btn {
    border: none;
}